body {
    font-family: Poppins;
    color: #96897a;
  }

  .banner {
    display: grid;
    max-width: 1000px;
    margin-inline: auto;
    padding: 10rem;
    background-color: #e8e2d6;
    border-radius: 2rem;
  }
  .access {
    text-align: center;
  }
  img {
    display: block;
    max-width: 300px;
    margin-inline: auto;
    margin-block-end: 1rem;
    border-radius: 5%;
  }
  @media (min-width: 700px) {
    .banner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    .banner__access {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
  }
  h2 {
    color:#6d5e51;
  }

  span {
    color:black;
    font-weight: bold;
  }